@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  background-color: whitesmoke;
  font-size: 1.25em;
}

a {
  color: $textColor;
  text-decoration: underline;
  transition: 0.1s ease-out;

  &.router-link-exact-active {
    color: $textAccent;
  }

  &:hover {
    color: $textAccent;
  }

  &:active {
    color: darken($textAccent, 10%);
  }
}

h1 {
  text-align: center;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}
